.elements__heart-button{
    width: 22px;
    height: 19px;
    margin: 5px 0 1px;
    transition: opacity 0.7s;
    background-image: url(../../../images/elements__button.png);
    box-sizing: border-box;
    background-position: center;
    
}

.elements__heart-button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.elements__heart-button:active{
    background-image: url(../../../images/elements__button\(black\).png);
}
